/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing: border-box;}

body{min-height: 100vh;
    font-family: 'Raleway',sans-serif;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:hover,&:active{
        .top, .bottom{
            &::before, &::after{
                margin-left: 200px;
                transform-origin: -200px 50%;
                transition-delay: 0s;
            }
        }

        .center{
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}
    .top, .bottom{
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            width: 200vmax;
            height: 200vmax;
            top: 50%;left: 50%;
            margin-top: -100vmax;
            transform-origin: 0 50%;
            transition: all 0.5s cubic-bezier(0.445, 0.05, 0,1);
            z-index: 10;
            opacity: 0.65;
            transition-delay: 0.2s;
        }
    }

    .top{
        &:before{transform: rotate(45deg);background: #e46569;}
        &:after{transform: rotate(135deg);background: #ecaf81;}
    }

    .bottom{
        &:before{transform: rotate(-45deg);background: #60b8d4;}
        &:after{transform: rotate(-135deg);background: #3745b5;}
    }

.center{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0,1);
    transition-delay: 0s;
    color: #333;

    input{
        width: 100%;
        padding: 15px;
        margin: 5px;
        border-radius: 1px;
        border: 1px solid #ccc;
        font-family: inherit;
    }
} */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
    margin: 0;
    text-decoration: none;
    background-color: #F7E3DB;
    
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
    
}


button {
    margin: 0 auto;
    width: 100%;
    padding: 10px 20px; /* Atur padding sesuai kebutuhan */
    background-color:#BADFD7; /* Atur warna latar belakang sesuai kebutuhan */
    color: #fff; /* Atur warna teks sesuai kebutuhan */
    border: none; /* Hilangkan border */
    border-radius: 20px; /* Atur radius sudut */
    cursor: pointer; /* Ubah kursor saat diarahkan ke tombol */
  }
  
  /* Untuk mengatur tampilan tombol saat dihover */
  button:hover {
    background-color: #60BFC1/* Atur warna latar belakang saat dihover */
  }
  
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container:hover .top::before,
.container:hover .top::after,
.container:hover .bottom::before,
.container:hover .bottom::after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
}

.container:active .top::before,
.container:active .top::after,
.container:active .bottom::before,
.container:active .bottom::after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
}

.container:hover .center {
    opacity: 1;
    transition-delay: 0.2s;
}

.container:active .center {
    opacity: 1;
    transition-delay: 0.2s;
}


.top::before, .bottom::before, .top::after, .bottom::after {
    content: '';
    display: block;
    position: absolute;
    width: 200vmax;
    height: 215vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
}

.top::before {
    transform: rotate(45deg);
    background: #60BFC1;
}

.top::after {
    transform: rotate(135deg);
    background: #FDB7B9;
}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #000000;
}

.center input {
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #000000;
    font-family: inherit;
}
